body {
  display: flex;
}

div {
  width: 100%;
  margin-bottom: 40px;
}

a{
  text-decoration: none;
  color: white;
}

nav {
  justify-content: space-around;
  background-color: #72002F;
  padding: 20px;
  text-transform: uppercase;
}

nav a{
  padding: 20px;
  margin-top: 20px;
}

h1 {
  text-transform: uppercase;
}

.btn {
  background-color: purple;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px;
  justify-content: center;
  border: none;
  border-radius: 5px;
}

p {
  max-width: 80%;
  padding: 10px;
}

.selected {
  color: grey;
}

.contact a {
  color: purple;
}

.contact, .references, .about, .home {
  padding-left: 100px;
}

.app {
  width: 100%;
  justify-content: center;
}
