body {
  display: flex;
}

div {
  width: 80%;
}

a{
  text-decoration: none;
  color: white;
}

nav {
  justify-content: space-around;
  background-color: #72002F;
  padding: 20px;
  text-transform: uppercase;
}

nav a{
  padding: 20px;
  margin-top: 20px;
}

h1 {
  text-transform: uppercase;
  text-align: center;
}

.btn {
  background-color: red;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  justify-content: center;
  border: none;
  margin: 10px 40px;
}

p {
  max-width: 80%;
  padding: 10px;
}
